<div id="<%= dom_id order %>">

 <p>
    <strong>Product Image:</strong>
   <%= image_tag order.product.image.first%>
  </p>

  <p>
    <strong>Product ID:</strong>
    <%= order.product_id %>
  </p>

  <p>
    <strong>Product Name:</strong>
    <%= order.product.name %>
  </p>

  <p>
    <strong>Quantity sold:</strong>
    <%= order.quantity_sold %>
  </p>

  <p>
    <strong>Order Date:</strong>
    <%= order.created_at.strftime("%B %e, %Y")  %>
  </p>

</div>
