<nav aria-label="breadcrumb" class="ms-2">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/inventory">Home</a></li>
    <li class="breadcrumb-item">   <%= link_to "Vendors", vendors_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%=@vendor.name%></li>
  </ol>
</nav>
<div id="<%= dom_id vendor %>">

<div class="card ms-3" style="width: 18rem;background-color: #f0f0f0">
  <div class="card-body">
    <h5 class="card-title fw-bold"> <%= vendor.name %> - <%= vendor.id %></h5>
    <p class="card-text"><strong>Contact Info:</strong><%= vendor.contact_info %></p>
   <a href="<%= edit_vendor_path(@vendor) %>" class="btn blue-button">Edit this vendor</a>

     <%= button_to "Destroy this vendor", @vendor, method: :delete, class: "btn btn-danger mt-3"%>
  </div>
</div>
