<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("Vendor Banner.png", class: "d-block w-100", alt: "banner", height: "450") %>
    </div>
  </div>
</div>
<%= link_to "New vendor", new_vendor_path %>

<div id="vendors">
     <table>
      <tr>
       <th>ID</th>
        <th>Name</th>
        <th>Details</th>
      </tr>
      <% @vendors.each do |vendor| %>
        <tr>
        <td> <%= vendor.id %></td>
          <td> <%=vendor.name %></td>
         
          <td> <%= link_to "Show this vendor", vendor %></td>
          </tr>
 <% end %>
      </table>
</div>
