<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("Inventory Banner.png", class: "d-block w-100", alt: "banner") %>
    </div>
  </div>
</div>

<div class="container text-center">

  <div class="left-wrapper bg-success-subtle">
    <h2 class="heading"> In Stock</h2>
    <div class="left-content">
      <!-- Left content goes here -->

      <table>
        <thead>
          <tr>
            <th>Products</th>
            <th>Quantity</th>
            <th>Details</th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <% if product.quantity > 3 %>
              <tr>
                <td><%= product.name %></td>
                <td><%= product.quantity %></td>
                <td> <%= link_to "Show this product", product %> </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>

  <div class="separator"></div>

  <div class="right-wrapper bg-danger-subtle">
    <h2 class="heading">Running Out</h2>
    <div class="right-content">
      <!-- Right content goes here -->
      <table>
        <thead>
          <tr>
            <th>Products</th>
            <th>Quantity</th>
            <th>Details</th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <% if product.quantity <= 3 %>
              <tr>
                <td><%= product.name %></td>
                <td><%= product.quantity %></td>
                <td> <%= link_to "Show this product", product %> </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
