<nav aria-label="breadcrumb" class="ms-2">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/inventory">Home</a></li>
    <li class="breadcrumb-item">   <%= link_to "Products", products_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%=@product.name%></li>
  </ol>
</nav>

<div id="<%= dom_id product %>">

  <div class="card mb-3 ms-3" style="max-width: 900px;">
    <div class="row g-8">
      <div class="col-md-4">
        <%= image_tag product.image.first, width: "300px", class: "product-image" if product.image.attached? %>
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <h5 class="card-title fw-bold"> <%= product.name %> - <%= product.id %></h5>
          <p class="card-text"> <%= product.description %></p>

          <p class="card-text">Price: $<%= product.price %></p>

          <p class="card-text">Barcode: <%= product.barcode %></p>
         
          <% if product.vendor.present? %>
            <p class="card-text">Vendor ID: <%= link_to product.vendor.id, vendor_path(product.vendor) %></p>
          <% else %>
            <p class="card-text">Vendor not available</p>
          <% end %>

          <a href="<%= edit_product_path(@product) %>" class="btn blue-button">Edit this product</a>
          <%= button_to "Destroy this product", @product, method: :delete, class: "btn btn-danger mt-2"%>

        </div>
      </div>
    </div>
  </div>
</div>
