<div class= "container">
  <div style="display: inline-block; border: 2px solid black; padding: 8px; background-color: #f0f0f0;">
    <%= form_for(@sale) do |f| %>

      <div class="form-inputs ms-2">
        <div class="mt-2">
          <%= f.collection_select :product_id, Product.all, :id, :name, prompt: "Select a product" %>
        </div>
        <div class="mt-2">
          <%= f.label :quantity_sold %>
          <%= f.number_field :quantity_sold, input_html: { min: 1, max:  @max_quantity } %>
          <span id="message" visibility="hidden"></span>
        </div>

        <div class="form-actions ms-2 mt-2">
          <%= f.button :submit %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const productDropdown = document.getElementById('sale_product_id');
    const productIdInput = document.getElementById("sale_quantity_sold");
    const messageSpan = document.getElementById("message");
    console.log(messageSpan)

    productDropdown.addEventListener('change', function() {
      const selectedProductId = this.value;
      fetch(`/products/quantity/${selectedProductId}`, { method: "POST"})
        .then(response => response.json())
        .then(data => {
         productIdInput.setAttribute("max", data);
         messageSpan.visibility = 'visible';
         messageSpan.innerHTML = `Up to ${data} available`;
        })

        .catch(error => console.error('Error:', error));
    });
  });
</script>
