<div id="<%= dom_id sale %>">

 <p>
    <strong>Product Image:</strong>
   <%= image_tag sale.product.image.first, width: "300px"%>
  </p>

  <p>
    <strong>Product ID:</strong>
    <%= link_to sale.product_id, product_path(sale.product) %>
  </p>

  <p>
    <strong>Product Name:</strong>
    <%= sale.product.name %>
  </p>

  <p>
    <strong>Quantity sold:</strong>
    <%= sale.quantity_sold %>
  </p>

  <p>
    <strong>Sale Date:</strong>
    <%= sale.created_at.strftime("%B %e, %Y")  %>
  </p>

</div>
